/* slideshow */
div.main-content {
	width: 100%;
}

div.main-content div.slideshow-container {
	height: 640px;
	background: #b19cd9;
	/*background: #F7977A;*/
	padding: 0!important;
	margin: 0;
	/*background: url('/static/img/blurry-background.jpg');*/
	background: url('/static/img/old-peeps-2.jpg');
	background-repeat: no-repeat;
	background-position-y: -240px;
	width: 100%;	
}

div.slideshow-container div.container {
	height: 100%;
}

div.slideshow-container div.container div.slideshow-header-inner {
	position: relative;
	padding: 43px 37px 63px;
	margin-top: 146px;
	width: 750px;
	float: right;
	overflow: hidden;
	color: #fff;
	background: url('/static/img/callout-bg.png');
	background: rgba(0,0,0,0.8);
	border-radius: 6px;
	text-align: right;
}

div.slideshow-container div.container div.slideshow-header-inner div.slideshow-text-inner {
	width: 570px;
	float: left;
}

div.slideshow-container div.container div.slideshow-header-inner div.slideshow-text-inner h1 {
	font-family: RalewayBold,'Helvetica',Arial,"sans-serif";
	font-size: 48px;
	font-weight: 600;
	line-height: 52px;
}

div.slideshow-container div.container div.slideshow-header-inner div.slideshow-text-inner p {
	font-weight: 400;
	font-family: RalewayLight,'Helvetica',Arial,"sans-serif";
	padding-top: 4px;
	margin-bottom: 2px;
	font-size: 22px;
	display: block;
	float: left;
}

div.slideshow-container div.container div.slideshow-header-inner div.slideshow-text-inner p span {
	text-decoration: underline;
}

div.slideshow-container div.container div.slideshow-header-inner > span {
	float: right;
	display: block;
	font-size: 84px;
	line-height: 104px;
	color: #fff;
}

div.slideshow-container div.container div.slideshow-header-inner a {
	color: #fff;
	font-family: 'Helvetica',Arial,"sans-serif";
	transition: all .2s;
	font-size: 16px;
	background-color: #fc4502;
	border: 1px solid #cd3902;
	margin-top: 30px;
	margin-right: 22px;
	display: block;
	float: right;
	width: 255px;
}

div.slideshow-container div.container div.slideshow-header-inner a:hover {
	background-color:#cd3902;
	border:1px solid #b13102;
}

div.slideshow-container div.container div.slideshow-header-inner h1 span {
	text-decoration: underline;
}

div.slideshow-container div.container div.logos-block {
	width: 480px;
	height: 114px;
	position: relative;
	bottom: -99px;
	float: right;
	background: rgb(255,218,185);
	background: rgba(255,218,185,0.85);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	padding: 15px 30px;
}

div.slideshow-container div.container div.logos-block img {
	height: 50%;
	margin-top: 22px;
	float: right;
}

div.logos-block img:nth-child(1) {
	margin-right: 15px;
}

div.logos-block img:nth-child(2) {
	margin-right: 66px;
}

div.logos-block img:nth-child(3) {
	margin-right: 57px;
	height: 65%!important;
	margin-top: 14px!important;
}

/*
div.main-content div.slideshow-container div.slideshow-inner {
	height: 100%;
	float: center;
	margin-left: auto;
	margin-right: auto;
}

div.main-content div.slideshow-container div.slideshow-inner div.carousel div.carousel-inner div.item img {
	float: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.main-content div.slideshow-container div.slideshow-inner div.carousel div.carousel-inner div.item div.carousel-caption {
	background: rgba(0,0,0,.7);
	font-family: 'Helvetica',Arial,sans-serif;
}

div.main-content div.slideshow-container div.slideshow-inner div.carousel div.carousel-inner div.item div.carousel-caption h3 {
	font-size: 20px;
}*/
/* end */

/* content divider section */
div.content-divider {
	width: 100%;
	height: 80px;
	background: #7BCDC8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

div.content-divider div.container {
	padding: 0 6px;
	margin-top: 0;
	margin-bottom: 0;
	height: 100%;
	min-width: 1170px;
}

div.content-divider div.container h3 {
	font-family: 'Helvetica',Arial,"sans-serif";
	font-size: 16px;
	color: black;
	float: right;
	margin-top: 23px;
	width: 290px;
	text-align: center;
	width: 306px;
}

div.content-divider div.container h3:nth-child(1) {
	margin-left: 68px;
	margin-right: 20px;
}

div.content-divider div.container h3:nth-child(3) {
	margin-top: 31px;
	width: 358px;
}

div.content-divider div.container h3:nth-child(5) {
	margin-left: 0;
	margin-right: 70px;
}

div.content-divider div.container div.divider {
	height: 40px;
	width: 1px;
	float: right;
	background: white;
	margin-top:18px;
}

/* end */

/* blurry background section */
div.blurry-bg {
	width: 100%;
	display: block;
	background: #fff;
	background: #222;
	background-size: 140%;
	padding-top: 14px;
}


/* end */

/* about */
div.main-content div.blurry-bg div.about {
	width: 100%;
	display: block;
}

div.main-content div.blurry-bg div.about div.container {
	padding: 14px;
}

div.main-content div.blurry-bg div.about div.container > p {
	font-family: "sans-serif";
	font-size: 15px;
	line-height: 18px;
}

div.main-content div.blurry-bg div.about div.container div.row div.col-md-4 {
	height: 380px;
}
/*
div.main-content div.blurry-bg div.about div.container div.row div.col-md-4:not(:first-child) {
	border-left: 6px solid #222;
}*/

div.main-content div.blurry-bg div.about div.container div.row div.col-md-4:nth-child(2) .about-col .about-icon span {
	font-size: 56px;
}

div.about-col {
	width: 100%;
	height: 100%;
	padding: 50px 20px;
}

div.about-col div.about-icon {
	width: 67px;
	float: center;
	margin-left: auto;
	margin-right: auto;
	/*border: 5px solid;
	border-radius: 54px;*/
}

div.about-col div.about-icon span {
	display: block;
	font-size: 62px;
	line-height: 62px;
	color: #428bca;
}

div.about-col h3 {
	text-align: center;
	font-family: RalewayLight,'Helvetica',Arial,"sans-serif";
	color: white;
	font-size: 25px;
	margin-top: 18px;
	margin-bottom: 8px;
}

div.about-col h5 {
	text-align: center;
	font-family: "sans-serif";
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	display: block;
	width: 80%;
	float: center;
	margin-left: auto;
	margin-right: auto;
}
/* end */

/* testimonials */
/*
div.testimonials {
	margin-top: 20px;
	padding-top: 12px;
	position: relative;
	display: inline-block;
	width: 100%;
}

div.testimonials div.col-md-3 {
	height: 360px;
	margin: 8px 46px;
	padding: 20px;
	border-radius: 15px;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.7);
}

div.testimonials div.col-md-3:nth-child(1) {
	border: 10px solid #BC8DBF;
}

div.testimonials div.col-md-3:nth-child(3) {
	border: 10px solid #6ECFF6;
}

div.testimonials div.col-md-3:nth-child(5) {
	border: 10px solid #FFF79A;
}

div.testimonials div.col-md-3 div.testimonial-top {
	height: 47%;
	width: 90%;
	margin: 0 auto;
	float: center;
	border-bottom: 1px solid #fff;
}

div.testimonials div.col-md-3 div.testimonial-top img {
	width: 100%;
}

div.testimonials div.col-md-3 div.testimonial-quote {
	height: 56%;
	width: 90%;
	padding: 20px 16px;
	margin: 0 auto;
	float: center;
	background: url('/static/img/quoteMarks.png');
	background-size: 100%;
	background-position-y: 13px;
	background-repeat: no-repeat;
}

div.testimonials div.col-md-3 div.testimonial-quote p {
	font-family: "sans serif";
}

div.testimonials div.col-md-3 div.testimonial-quote p:first-child {
	color: white;
	font-size: 15px;
	line-height: 18px;
}

div.testimonials div.col-md-3 div.testimonial-quote p:nth-child(2) {
	font-size: 13px;
	font-style: italic;
	margin-left: 14px;
	color: #428bca;
	line-height: 16px;
}

div.testimonials div.col-md-3 div.testimonial-quote p:nth-child(3) {
	color: #eee;
	font-size: 12px;
}
*/
/* cath-footer section */
div.cath-footer {
	width: 100%;
	position: relative;
	height: 60px;
	background: #222;
	bottom: 0;
	border-top: 1px solid #fff;
	margin-top: 16px;
}

/* end */

/* misc */
div.col-divider {
	width: 1px;
	height: 232px;
	margin: 69px 0;
	background: #fff;
	float: left;
}
/* end */