@font-face
{
	font-family: RalewayBold;
	src: url('/static/fonts/Raleway/Raleway-Bold.otf')
}

@font-face
{
	font-family: RalewayExtraBold;
	src: url('/static/fonts/Raleway/Raleway-ExtraBold.otf')
}

@font-face
{
	font-family: RalewayLight;
	src: url('/static/fonts/Raleway/Raleway-Light.otf')
}

@font-face
{
	font-family: RalewayRegular;
	src: url('/static/fonts/Raleway/Raleway-Regular.otf')
}

@font-face
{
	font-family: RalewayExtraLight;
	src: url('/static/fonts/Raleway/Raleway-ExtraLight.otf')
}

html {
	height: 100%;
	width: 100%;
	min-height: 900px;
}

body#home {
	color: #222;
	margin: 0;
	height: 100%;
	width: 100%;
	min-height: 900px;
}

div#wrapper-outer {
	width: 100%;
	height: 100%;
	min-width: 1000px;
	background: #ffffff;
}

div#wrapper-inner {
	width: 100%;
	height: 100%;
}

div#content-main {
	width: 100%;
	height: 100%;
}

ul.main-circle {
	float: center;
	margin-left: auto;
	margin-right: auto;
	z-index: 2;
	height: 600px;
	width: 600px;
	position: relative;
	-webkit-transition: all 800ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-moz-transition: all 800ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-ms-transition: all 800ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-o-transition: all 800ms cubic-bezier(0.865,-0.15,0.085,1.21);
	transition: all 800ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-webkit-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-moz-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-ms-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-o-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-webkit-perspective: 800;
	-moz-perspective: 800;
	-ms-perspective: 800;
	-o-perspective: 800;
	perspective: 800;
	background: url('/static/img/zero-bg.png') no-repeat;
	background-size: 100%;
	
}

div.central {
	top: 17%;
	left: 35%;
	float: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.top-left-in {
	/*border: 120px solid;*/
	/*border-color: #FCD271 #2BBBD8 #F78D3F #102E37;*/
}

.circle-outer {
	z-index: 2;
	position: relative;
	width: 0;
	height: 0;
}

.circle-inner h3 {
	position: relative;
	
}

.circle-outer .circle-inner {
	position: absolute;
}

.circle-outer .circle-inner a {	
	display: block;
}

div#q-one {
	background: #ffffff;
}

div#q-one ul#top-left {
	position: relative;
}

ul.main-circle li.option {
	border: 15px solid #ffffff;
	z-index: 2;
	width: 126px;
	height: 126px;
	border-radius: 68px;
	-webkit-border-radius: 68px; 
	-moz-border-radius: 68px; 
	background: #0d0d0d;
	margin: 0;
	position: relative;
	opacity: 0;
	-webkit-transition: all 800ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-moz-transition: all 800ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-ms-transition: all 800ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-o-transition: all 800ms cubic-bezier(0.865,-0.15,0.085,1.21);
	transition: all 800ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-webkit-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-moz-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-ms-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-o-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-webkit-perspective: 800;
	-moz-perspective: 800;
	-ms-perspective: 800;
	-o-perspective: 800;
	perspective: 800;
}

ul.main-circle li.option:hover a h5 {
	text-decoration: underline;
}

ul.main-circle li a {
	color: #0d0d0d;
	font-family: RalewayRegular;
	font-size: 18px;
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 1;
}

ul.main-circle li a h5 {
	display: block;
	width: 100%;
	top: 41%;
	position: relative;
	color: #ffffff;
}

ul.main-circle li.quad-1 a h5 {
	color: #FCD271;
}

ul.main-circle li.quad-2 a h5 {
	color: #2BBBD8;
}

.hover-underline {
	text-decoration: underline;
}

div#q-one ul.main-circle li:nth-child(1) {
	opacity: 0;
	left: 234px;
	top: 234px;
	-webkit-transition-delay: .12s;
	-moz-transition-delay: .12s;
	-o-transition-delay: .12s;
	transition-delay: .12s;
}

div#q-one ul.main-circle li:nth-child(2) {
	opacity: 0;
	top: 108px;
	left: 234px;
	-webkit-transition-delay: .24s;
	-moz-transition-delay: .24s;
	-o-transition-delay: .24s;
	transition-delay: .24s;
}

div#q-one ul.main-circle li:nth-child(3) {
	opacity: 0;
	top: -18px;
	left: 234px;
	-webkit-transition-delay: .36s;
	-moz-transition-delay: .36s;
	-o-transition-delay: .36s;
	transition-delay: .36s;
}

div#q-one ul.main-circle li:nth-child(4) {
	opacity: 0;
	top: -144px;
	left: 234px;
	-webkit-transition-delay: .48s;
	-moz-transition-delay: .48s;
	-o-transition-delay: .48s;
	transition-delay: .48s;
}


div#q-one ul.main-circle li {
	opacity: 0;
}

div#q-one:hover ul.main-circle li:hover {
	-webkit-box-shadow: 0 0 30px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0 0 30px rgba(50, 50, 50, 0.75);
	box-shadow: 0 0 30px rgba(50, 50, 50, 0.75);
}


div#q-one:hover ul.main-circle li:nth-child(1):hover {
	border: 15px solid #2BBBD8;
}

div#q-one:hover ul.main-circle li:nth-child(2):hover {
	border: 15px solid #F78D3F;
}

div#q-one:hover ul.main-circle li:nth-child(3):hover {
	border: 15px solid #102E37;
}

div#q-one ul.main-circle li.fade-one {
	left: 76px;
	top: 76px;
	opacity: 1;
}

div#q-one ul.main-circle li.fade-two {
	top: -110px;
	left: 300px;
	opacity: 1;
}

div#q-one ul.main-circle li.fade-three {
	top: -178px;
	left: 394px;
	opacity: 1;
}

div#q-one ul.main-circle li.fade-four {
	left: 452px;
	top: -210px;
	opacity: 1;
}

div#q-one ul.main-circle li.fade-five {
	left: 271px;
	top: 51px;
}

div#q-one ul.main-circle li.fade-six {
	left: 153px;
	top: -7px;
}

div#q-one ul.main-circle li.fade-seven {
	left: 306px;
	top: 56px;
}

div#q-one ul.main-circle li.fade-eight {
	left: 271px;
	top: 51px;
}

div#q-one ul.main-circle li.fade-nine {
	left: 153px;
	top: -7px;
}

div#q-one ul.main-circle li.fade-ten {
	left: 306px;
	top: 56px;
}

div#q-one ul.main-circle li.fade-eleven {
	left: 271px;
	top: 51px;
}

div#q-one ul.main-circle li.fade-twelve {
	left: 153px;
	top: -7px;
}
