/*************************************************
	rick_home.html
*************************************************/

/* slideshow */
div.main-content#home-content {
	width: 100%;
}

div.main-content#home-content div.slideshow-container {
	height: 520px;
	background: #b19cd9;
	/*background: #F7977A;*/
	padding: 0!important;
	margin: 0;
	/*background: url('/static/img/blurry-background.jpg');*/
	background: url('/static/img/contractors.jpg');
	background-repeat: no-repeat;
	background-position-y: -240px;
	width: 100%;	
}

div.slideshow-container div.container {
	height: 100%;
}

div.slideshow-container div.container div.slideshow-header-inner {
	position: relative;
	padding: 22px 20px;
	margin-top: 374px;
	width: 733px;
	float: right;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	color: #fff;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	text-align: center;
	background: #222;
	border: 1px solid white;
	border-bottom: 0;
}

div.slideshow-container div.container div.slideshow-header-inner div.slideshow-text-inner {
	float: center;
}

div.slideshow-container div.container div.slideshow-header-inner div.slideshow-text-inner h1 {
	font-family: RalewayBold,'Helvetica',Arial,"sans-serif";
	font-size: 42px;
	font-weight: 600;
}

div.slideshow-container div.container div.slideshow-header-inner div.slideshow-text-inner p {
	font-weight: 400;
	font-family: RalewayRegular,'Helvetica',Arial,"sans-serif";
	padding-top: 4px;
	margin-bottom: 2px;
	font-size: 22px;
	display: block;
	float: left;
}

div.slideshow-container div.container div.slideshow-header-inner div.slideshow-text-inner p span {
	text-decoration: underline;
}

div.slideshow-container div.container div.slideshow-header-inner > span {
	float: right;
	display: block;
	font-size: 39px;
	line-height: 96px;
	color: white;
}

div.slideshow-container div.container div.slideshow-header-inner a {
	color: white;
	font-family: 'Helvetica',Arial,"sans-serif";
	transition: all .2s;
	font-size: 23px;
	background-color: #fc4502;
	border: 1px solid #cd3902;
	margin-top: 8px;
	display: block;
	float: center;
	margin-left: auto;
	margin-right: auto;
	width: 478px;
}

div.slideshow-container div.container div.slideshow-header-inner a span {
	font-size: 17px;
	line-height: 16px;
	margin-left: 5px;
}

div.slideshow-container div.container div.slideshow-header-inner a:hover {
	background-color:#cd3902;
	border:1px solid #b13102;
}

div.slideshow-container div.container div.logos-block {
	width: 480px;
	height: 114px;
	position: relative;
	top: 526px;
	left: 620px;
	float: right;
	background: rgb(255,255,255);
	/* background: rgba(255,255,255,0.85); */
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	padding: 15px 30px;
}

div.slideshow-container div.container div.logos-block a img {
	height: 50%;
	margin-top: 22px;
	float: right;
}

div.logos-block a:nth-child(1) img {
	margin-right: 15px;
}

div.logos-block a:nth-child(2) img {
	margin-right: 66px;
}

div.logos-block a:nth-child(3) img {
	margin-right: 57px;
	height: 65%!important;
	margin-top: 14px!important;
}
/* end */


/* blurry background section */
div.main-content#home-content div.blurry-bg {
	width: 100%;
	display: block;
	background: #222;
	background-size: 140%;
	padding-top: 14px;
	padding-bottom: 14px;
	border-top: 1px solid white;
}

div.main-content#home-content div.blurry-bg div.about {
	width: 100%;
	display: block;
}

div.main-content#home-content div.blurry-bg div.about div.container {
	padding: 14px;
}

div.main-content#home-content div.blurry-bg div.about div.container > p {
	font-family: "sans-serif";
	font-size: 15px;
	line-height: 18px;
}

div.main-content#home-content div.blurry-bg div.about div.container div.row div.col-md-4:nth-child(2) .about-col .about-icon span {
	font-size: 56px;
}

div.about-col {
	width: 100%;
	height: 100%;
	padding: 20px;
}

div.about-col div.about-icon {
	width: 62px;
	float: center;
	margin-left: auto;
	margin-right: auto;

}

div.about-col div.about-icon span {
	display: block;
	font-size: 62px;
	line-height: 62px;
	color: #428bca;
}

div.about-col h3 {
	text-align: center;
	font-family: RalewayLight,'Helvetica',Arial,"sans-serif";
	color: #428bca;
	font-size: 25px;
	margin-top: 18px;
	margin-bottom: 8px;
}

div.about-col h5 {
	text-align: center;
	font-family: "sans-serif";
	color: #fff;
	font-size: 17px;
	font-style: italic;
	line-height: 18px;
	display: block;
	width: 80%;
	float: center;
	margin-left: auto;
	margin-right: auto;
}

div.about-col div.divider {
	width: 33.3%;
	height: 1px;
	background: #eee;
	float: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

div.about-col div.gall-link {
	width: 100%;
	height: 140px;
	background-size: 100%!important;
	margin-top: 22px;
}

div.col-md-4:nth-child(1) div.about-col div.gall-link {
	background: url('/static/img/kitchen-1.jpg');
}

div.col-md-4:nth-child(2) div.about-col div.gall-link {
	background: url('/static/img/deck-1.jpg');
}

div.col-md-4:nth-child(3) div.about-col div.gall-link {
	background: url('/static/img/addition-1.jpg');
}

div.about-col div.gall-link a {
	display: block;
	width: 100%;
	height: 100%;
}

div.about-col div.gall-link a:hover {
	background: rgba(0,0,0,0.85);
	text-decoration: none;
}

div.about-col div.gall-link a p {
	color: #fff;
	font-size: 28px;
	font-family: Arial, Helvetica, sans-serif;
	float: center;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding-top: 54px;
	opacity: 0;
}

div.about-col div.gall-link a p span {
	float: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 28px;
}

div.about-col div.gall-link a:hover p {
	opacity: 1;
	text-decoration: none!important	;
}

div.about-col ul {
	list-style-type: disc;
	margin-top: 20px;
	width: 100%;
	display: block;
	float: center;
	margin-left: auto;
	margin-right: auto;
}

div.about-col ul li {
	color: white;
	font-size: 15px;
	font-family: "Helvetica",Arial,"sans-serif";
	line-height: 20px;
	margin-left: 25px;
}

div.about-col ul li span {
	color: #7BCDC8;
	margin-right: 4px;
}

div.about-col p {
	margin-top: 20px;
	color: white;
	font-family: "Helvetica",Arial,"sans-serif";
	font-size: 15px;
	line-height: 20px;
	text-align: justify;
}

div.about-col p strong {
	font-weight: 700;
	color: #ff85a2;
}
/* end */



/* about-2 section */
div.about-2 {
	width: 100%;
	background: #fff;
	color: #222;
}

div.about-2 div.about-2-inner {
	min-width: 1170px;
	padding: 40px;
}

div.about-2 div.about-2-inner div.divider {
	height: 230px;
	margin: 70px 0;
	width: 1px;
	background-color: #222;
}

div.about-2 div.about-2-inner > div {
	float: left;
}

div.about-2 div.about-2-inner div.about-top {
	width: 100%;
}

div.about-2 div.about-2-inner div.about-top h1 {
	font-family: RalewayRegular,'Helvetica',Arial,"sans-serif";
	color: #222;
	font-size: 40px;
	line-height: 60px;
	text-align: center;
}

div.about-2 div.about-2-inner div.about-2-col {
	width: 49.9%;
	padding: 10px 50px;
}

div.about-2-col h3 {
	font-size: 22px;
	line-height: 30px;
	font-family: RalewayRegular,'Helvetica',Arial,"sans-serif";
	color: #428bca;
}

div.about-2-col p {
	font-size: 16px;
	line-height: 18px;
	color: #222;
	font-family: 'Helvetica',Arial,"sans-serif";
	margin-top: 18px;
}

div.about-2-col img {
	margin-top: 20px;
}

div.about-2 div.about-2-inner div.about-bottom {
	width: 100%;
}

div.about-2 div.about-2-inner div.about-bottom a {
	display: block;
	float: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Helvetica',Arial,"sans-serif";
	font-size: 20px;
	line-height: 34px;
	width: 320px;
	margin-top: 20px;
}
/* end */

/* testimonial section */
div.testimonial {
	width: 100%;
}

div.testimonial div.testimonial-inner {
	min-width: 1170px;
	padding: 40px;
	color: #222;
}

div.testimonial div.testimonial-inner div.testimonial-top {
	width: 100%;
}

div.testimonial div.testimonial-inner div.testimonial-top h1 {
	font-family: RalewayRegular,'Helvetica',Arial,"sans-serif";
	font-size: 40px;
	line-height: 60px;
}

div.testimonial div.testimonial-inner div.testimonial-top h3 {
	font-family: RalewayRegular,'Helvetica',Arial,"sans-serif";
	font-size: 22px;
	line-height: 30px;
}

div.testimonial div.testimonial-inner div.testimonial-middle {
	width: 100%;
}
/* end */

/* rick-footer section */
div.rick-footer {
	width: 100%;
	position: relative;
	height: 60px;
	background: #222;
	bottom: 0;
	border-top: 1px solid #fff;
	margin-top: 16px;
	padding
}

div.rick-footer-inner {
	height: 100%;
	min-width: 1170px;
	padding: 16px;
	color: white;
	font-size: 12px;
	text-align: center;
}
/* end */

/* misc */
div.col-divider {
	width: 1px;
	height: 232px;
	margin: 69px 0;
	background: #fff;
	float: left;
}
/* end */