/*************************************************
	rick_base.html
*************************************************/

/* fonts */
@font-face
{
	font-family: RalewayLight;
	src: url('/static/fonts/Raleway/Raleway-Light.otf')
}

@font-face
{
	font-family: RalewayRegular;
	src: url('/static/fonts/Raleway/Raleway-Regular.otf')
}

@font-face
{
	font-family: RalewayBold;
	src: url('/static/fonts/Raleway/Raleway-Bold.otf')
}

@font-face
{
	font-family: Afta;
	src: url('/static/fonts/AftaSerifThin-Regular.otf')
}

@font-face
{
	font-family: DejaVu;
	src: url('/static/fonts/DejaVuSerif.ttf')
}

@font-face
{
	font-family: DejaVuCondensed;
	src: url('/static/fonts/DejaVuSerifCondensed.ttf')
}

@font-face
{
	font-family: ABZ;
	src: url('/static/fonts/ABeeZee-Regular.otf')
}
/* end */

div#content-main {
	font-family: "sans serif";
	font-weight: 200;
}

div.top-nav {
	height: 112px;
}

/* locked navbar */
div#locked-nav {
	height: 50px;
}

div#locked-nav div.container div.collapse ul.top-left-nav {
	margin-top: 5px;
	font-size: 18px;
}

div#locked-nav div.container div.collapse ul.top-left-nav a {
	font-family: RalewayLight, 'sans serif';
	color: #0d0d0d;
}

div#locked-nav div.container div.collapse ul.top-left-nav a:hover {
	text-decoration: underline;
}

div#locked-nav div.container div.collapse ul.top-right-nav {
	margin-top: 3px;
}

div#locked-nav div.container div.collapse ul.top-right-nav li:first-child {
	font-family: "sans serif";
	margin-top: 15px;
	font-size: 12px;
	margin-right: 12px;
}

div#locked-nav div.container div.collapse ul.top-right-nav li {
	font-size: 12px;
	float: left;
}
/* end */

/* sliding navbar */

.slide-trans {
	-webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

div#sliding-nav {
	position:relative;
    width: 100%;
    height: 112px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    background: #222;
}

div#sliding-nav div.rick-main-nav {
	width: 1170px;
	float: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 22px;
	height: 100%;
}

div#sliding-nav div.rick-main-nav div.box {
	float: left;
	position: absolute;
}

div#sliding-nav div.rick-main-nav div.box span {
	position: absolute;
	background: none;
	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

div#sliding-nav div.rick-main-nav div.box span.top {
	width:359px;
	height:1px;
	top: -1px;
	left:-140%;
}

div#sliding-nav.sliding div.rick-main-nav div.box span.top {
	width: 359px;
}

div#sliding-nav div.rick-main-nav div.box:hover span.top {
	left:0;
	background:#428bca;
}

div#sliding-nav div.rick-main-nav div.box span.right {
	height:61px;
	width:1px;
	right: -1px;
	top:-140%;
}

div#sliding-nav.sliding div.rick-main-nav div.box span.right {
	height: 49px;
}

div#sliding-nav div.rick-main-nav div.box:hover span.right {
	top:0;
	background:#428bca;
}

div#sliding-nav div.rick-main-nav div.box span.bottom {
	width:359px;
	height: 1px;
	bottom: -1px;
	right:-140%;
}

div#sliding-nav.sliding div.rick-main-nav div.box span.bottom {
	width: 359px;
}

div#sliding-nav div.rick-main-nav div.box:hover span.bottom {
	right:0;
	background:#428bca;
}

div#sliding-nav div.rick-main-nav div.box span.left {
	height:61px;
	width: 1px;
	left: -1px;
	bottom:-140%;
}


div#sliding-nav.sliding div.rick-main-nav div.box span.left {
	height: 49px;
}

div#sliding-nav div.rick-main-nav div.box:hover span.left {
	bottom:0;
	background:#428bca;
}

div#sliding-nav div.rick-main-nav div.box a div.nav-image-container {
	float: left;
	height: 60px;
}

div#sliding-nav.sliding div.rick-main-nav div.box a div.nav-image-container {
	float: left;
	height: 48px;
}

div#sliding-nav div.rick-main-nav div.box a div.nav-image-container img {
	border-radius: 30px;
}

div#sliding-nav div.rick-main-nav div.box a div.nav-image-container p {
	display: block;
	height: 60px;
	line-height: 57px;
	font-family: RalewayRegular;
	font-size: 35px;
	margin-right: 10px;
}

div#sliding-nav.sliding div.rick-main-nav div.box a div.nav-image-container p {
	display:block;
	height: 48px;
	line-height:45px;
}

div#sliding-nav div.rick-main-nav div.box strong.logo {
	font-size: 24px;
	font-family: RalewayLight;
	text-decoration: none;
	height: 100%;
	display: block;
	float: left;
}

div#sliding-nav div.rick-main-nav div.box strong.logo a {
	line-height: 52px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	width: 100%;
	height: 100%;
	display: block;
	padding: 4px 14px;
}

div#sliding-nav div.rick-main-nav div.box strong.logo a:hover {
	color: #428bca;
	font-weight: normal!important;
}

div#sliding-nav.sliding div.rick-main-nav div.box strong.logo a {
	line-height: 40px;
}

div#sliding-nav div.rick-main-nav div.box strong.logo a:hover {
	text-decoration: none;
	font-weight: bold;
}

div#sliding-nav div.rick-main-nav div.navbar-main-collapse {
	float: right;
}

div#sliding-nav div.rick-main-nav div.navbar-main-collapse ul.main {
	margin-top: 6px;
}

div#sliding-nav.sliding div.rick-main-nav div.navbar-main-collapse ul.main {
	margin-top: 0;
}

div#sliding-nav div.rick-main-nav div.navbar-main-collapse ul.main li:last-child a:hover {
	background-color: #2d6ca2;
}

div#sliding-nav div.rick-main-nav div.navbar-main-collapse ul.main li a {
	font-size: 14px;
	font-family: 'Helvetica',Arial,sans-serif;
	color: #fff;
	text-shadow: none!important;
}

div#sliding-nav div.rick-main-nav div.navbar-main-collapse ul.main li a:hover {
	text-decoration: underline;	
	text-shadow: none!important;
}

div#sliding-nav div.rick-main-nav div.navbar-main-collapse ul.main li:last-child a {
	color: #fff;
}

div#sliding-nav div.rick-main-nav div.navbar-main-collapse ul.main li:last-child {
	border: 1px solid #fff;
}
/* end */
