{% extends "info/cathie_base.html" %}
{% load staticfiles %}

{% block cath_stylesheets %}
	<link rel="stylesheet" href="{% static 'css/info/cathie_home.css' %}" />
{% endblock %}


{% block cath_content %}
	<div class="main-content">
		<div class="slideshow-container">
			<div class="container">
				<div class="slideshow-header-inner col-md-8">
					<div class="slideshow-text-inner">
						<h1> Let's get fit together. </h1>
						<p> Changing your body one step at a time with carefully crafted programs that <span>accomplish your goals</span>.</p>
					</div>
					<span class="glyphicon glyphicon-flag"></span>
					<a href="#" rel="button" class="btn btn-lg col-xs-12 col-sm-5 col-md-4">Schedule your free consultation</a>
				</div>
				<div class="logos-block">
					<img src="{% static 'img/logo-afaa.gif' %}" width="" height="">
					<img src="{% static 'img/zumba-logo.png' %}" width="" height="">
					<img src="{% static 'img/trx-logo.png' %}" width="" height="">
				</div>
			</div>
			<!--
			<div class="slideshow-inner">
				<div class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					</ol>

					<div class="carousel-inner">
						<div class="item active">
							<img src="{% static 'img/cath1.jpg' %}" alt="..." width="293" height="440">
							<div class="carousel-caption">
								<h3>First slide label</h3>
								<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
							</div>
						</div>

						<div class="item">
							<img src="{% static 'img/cath3.jpg' %}" alt="..." width="587" height="440">
							<div class="carousel-caption">
								<h3>Second slide label</h3>
								<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
							</div>
						</div>

						<div class="item">
							<img src="{% static 'img/cath1.jpg' %}" alt="..." width="293" height="440">
							<div class="carousel-caption">
								<h3>Third slide label</h3>
								<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
							</div>
						</div>
					</div>

					<a class="left carousel-control slide-trans" href="#carousel-example-generic" data-slide="prev" onclick="$('.carousel').carousel('prev')">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control slide-trans" href="#carousel-example-generic" data-slide="next" onclick="$('.carousel').carousel('next')">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
			</div>-->
		</div>
		<div class="content-divider">
			<div class="container">
				<!--
				<h3> Certified by the Aerobics and Fitness Association of America </h3>
				<div class="divider"></div>
				<h3> Now teaching TRX classes </h3>
				<div class="divider"></div>
				<h3> Specialized training for seniors and special-needs clients </h3>-->
			</div>
		</div>
		<div class="blurry-bg">
			<div class="about">
				<div class="container about-inner">
					<div class="row">
						<div class="col-md-4">
							<div class="about-col">
								<div class="about-icon">
									<span class="glyphicon glyphicon-asterisk"></span>
								</div>
								<h3>  Total Fitness Approach  </h3>
								<h5>  From the gym, to the kitchen, to the world at large.  </h5>
							</div>
						</div>

						<div class="col-md-4">
							<div class="about-col">
								<div class="about-icon">
									<span class="glyphicon glyphicon-pencil"></span>
								</div>
								<h3> Designed With You In Mind </h3>
								<h5> This isn't Joe Schmoe's cookie-cutter fitness program. </h5>
							</div>
						</div>

						<div class="col-md-4">
							<div class="about-col">
								<div class="about-icon">
									<span class="glyphicon glyphicon-leaf"></span>
								</div>
								<h3> Sustainably Fit </h3>
								<h5> Understanding your fitness isn't just a fad diet; it's a lifestyle. </h5>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="cath-footer">

			</div>
			
		</div>
	</div>
{% endblock %}

{% block cath_scripts %}
	<script type="text/javascript" src="{% static 'js/info/cathie_home.js' %}" charset="utf-8"></script>
{% endblock %}