{% extends "info/base.html" %}

{% load staticfiles %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'css/info/base.css' %}">
{% endblock %}

{% block content %}
	<div class="quadrant" id="q-one">
		<div class="heading-outer">
			<div class="heading-inner">
				<a href="#"><h3 id="heading-one"> Home </h3></a>
			</div>
		</div>
		<ul class="main-circle" id="top-left">
			<li class="option"><a href="#"><h5>What we do</h5></a></li>
			<li class="option"><a href="#"><h5>Why we do it</h5></a></li>
			<li class="option"><a href="#"><h5>How we do it</h5></a></li>
		</ul>
	</div>

	<div class="quadrant" id="q-two">
		<div class="heading-outer">
			<div class="heading-inner">
				<a href="#"><h3 id="heading-two"> Products </h3></a>
			</div>
		</div>
		<ul class="main-circle" id="top-right">
			<li class="option"><a href="#"><h5>New</h5></a></li>
			<li class="option"><a href="#"><h5>Bulk</h5></a></li>
			<li class="option"><a href="#"><h5>On sale</h5></a></li>
		</ul>
	</div>

	<div class="quadrant" id="q-three">
		<div class="heading-outer">
			<div class="heading-inner">
				<a href="#"><h3 id="heading-three"> Paleo Info </h3></a>
			</div>
		</div>
		<ul class="main-circle" id="bottom-left">
			<li class="option"><a href="#"><h5>What is Paleo?</h5></a></li>
			<li class="option"><a href="#"><h5>Research</h5></a></li>
			<li class="option"><a href="#"><h5>Discussion</h5></a></li>
		</ul>
	</div>

	<div class="quadrant" id="q-four">
		<div class="heading-outer">
			<div class="heading-inner">
				<a href="#"><h3 id="heading-four"> About Us </h3></a>
			</div>
		</div>
		<ul class="main-circle" id="bottom-right">
			<li class="option"><a href="#"><h5>The team</h5></a></li>
			<li class="option"><a href="#"><h5>Philosophy</h5></a></li>
			<li class="option"><a href="#"><h5>Legal info</h5></a></li>
		</ul>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$( document ).ready(function() {
			$('.heading-inner').hover(
				function(){ $("#heading-one").addClass('hover-bold') },
				function(){ $("#heading-one").removeClass('hover-bold') }
			)
			/* bez.js test */
			var bezierEasing = [0.865, -0.15, 0.085, 1.21];
			var firstElem = $("div#q-one ul.main-circle li:nth-child(1)");
			var secondElem = $("div#q-one ul.main-circle li:nth-child(2)");
			var thirdElem = $("div#q-one ul.main-circle li:nth-child(3)");
			$('#q-one').hover(
				function(){
					firstElem.css("opacity", 1).css("left", "250px").css("top", "20px");
					secondElem.css("opacity", 1).css("left", "200px").css("top", "80px");
					thirdElem.css("opacity", 1).css("left", "40px").css("top", "10px");
					firstElem.animate({ opacity: "1", left: 250, top: 20 }, 0, $.bez(bezierEasing));
					secondElem.animate({ opacity: "1", left: 200, top: 80}, 0, $.bez(bezierEasing));
					thirdElem.animate({ opacity: "1", left: 40, top: 10 }, 0, $.bez(bezierEasing));
				},
				function(){
					firstElem.css("opacity", 0).css("left", "40px").css("top", "40px");
					secondElem.css("opacity", 0).css("left", "40px").css("top", "-81px");
					thirdElem.css("opacity", 0).css("left", "40px").css("top", "-196px");
					firstElem.animate({ opacity: "0", left: 40, top: 40 }, 0, $.bez(bezierEasing));
					secondElem.animate({ opacity: "0", left: 40, top: -81}, 0, $.bez(bezierEasing));
					thirdElem.animate({ opacity: "0", left: 40, top: -196 }, 0, $.bez(bezierEasing));
				}
			)
			return false;
		});
	</script>
{% endblock %}