{% extends "info/rick/rickie_base.html" %}
{% load staticfiles %}

{% block rick_stylesheets %}
	<link rel="stylesheet" href="{% static 'css/info/rickie_home.css' %}" />
{% endblock %}


{% block rick_content %}
	<div class="main-content" id="home-content">
		<div class="slideshow-container">
			<div class="container">
				<div class="slideshow-header-inner col-md-8">
					<div class="slideshow-text-inner">
						<h1> &ldquo;Let's get fit together.&rdquo; </h1>
						<p> Changing your body one step at a time with carefully crafted programs that <span>accomplish your goals</span>.</p>
					</div>
					<a href="#" rel="button" class="btn btn-lg">Schedule your free consultation <span class="glyphicon glyphicon-flag"></span></a>
				</div>
				<div class="logos-block">
					<a href="http://www.afaa.com/">
						<img src="{% static 'img/logo-afaa.gif' %}" width="" height="">
					</a>

					<a href="http://www.zumba.com/en-US">
						<img src="{% static 'img/zumba-logo.png' %}" width="" height="">
					</a>

					<a href="https://www.trxtraining.com/">
						<img src="{% static 'img/trx-logo.png' %}" width="" height="">
					</a>
				</div>
			</div>
		</div>

		<div class="blurry-bg">
			<div class="about">
				<div class="container about-inner">
					<div class="row">

						<div class="col-md-4">
							<div class="about-col">
								<div class="about-icon">
									<span class="glyphicon glyphicon-user"></span>
									<span class="glyphicon glyphicon-user"></span>
									<span class="glyphicon glyphicon-user"></span>
								</div>
								<h3>  Classes  </h3>
								<h5>  Group fitness for every skill and experience level, now featuring TRX and Zumba.  </h5>
								<div class="divider"></div>
								<p>
									Fitness isn't just something you do in the gym.  It's something you live.  As your trainer I can coach you in the areas where it makes the biggest and most important difference:
								</p>
								<ul>
									<li>Nutrition and meal planning</li>
									<li>Lifestyle advice and general fitness </li>
									<li>Motivation and life coaching</li>
								</ul>
							</div>
						</div>

						<div class="col-md-4">
							<div class="about-col">
								
								<div class="about-icon">
									<a href="/rick/about/">
										<img src="{% static 'img/rick2.png' %}" width="120" height="120">
									</a>
								</div>
								<h3><a href="/rick/about">  rickie Kuchenberg  </a></h3>
								<h5>  Your personal trainer, nutrition specialist, and life coach.  </h5>

								<div class="divider"></div>
								<p>
									Fitness isn't just something you do in the gym.  It's something you live.  As your trainer I can coach you in the areas where it makes the biggest and most important difference:
								</p>
								<ul>
									<li>Nutrition and meal planning</li>
									<li>Lifestyle advice and general fitness </li>
									<li>Motivation and life coaching</li>
								</ul>
								<a href="/rick/about/"> Learn more </a>
							</div>
						</div>

						<div class="col-md-4">
							<div class="about-col">
								<div class="about-icon">
									<span class="glyphicon glyphicon-user"></span>
								</div>
								<h3>  One-on-One Training  </h3>
								<h5>  Personal instruction from a compassionate and energetic fitness coach.  </h5>
								<div class="divider"></div>
								<p>
									Fitness isn't just something you do in the gym.  It's something you live.  As your trainer I can coach you in the areas where it makes the biggest and most important difference:
								</p>
								<ul>
									<li>Nutrition and meal planning</li>
									<li>Lifestyle advice and general fitness </li>
									<li>Motivation and life coaching</li>
								</ul>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>

		<div class="about-2">
			<div class="container about-2-inner">

				<div class="about-top">
					<h1> Let's train together. </h1>
				</div>
				
				<div class="about-2-col col-md-6">
					<h3> Classes </h3>
					<p>
						Give a general description of how classes are run, basic features, etc.  How many people tend to show up to a single one?  What days and times are they usually held?  How are instructions given?  How do you help people who struggle with certain movements?  Feel free to expand here.
					</p>
					<p>
						List and discuss a few (2-3) different class types.  For each class recommend a skill and intensity level.  Link to your "classes" page for further information.
					</p>
					<img src="{% static 'img/group.jpg' %}" width="444" height="">

				</div>

				<div class="divider"></div>

				<div class="about-2-col col-md-6">
					<h3> One-on-One </h3>
					<img src="{% static 'img/one.jpg' %}" width="444" height="">
					<p>
						This is the part where you talk about how you create programs for new clients.  Maybe list some aspects you take into account when building a routine (experience, goals, time commitment, etc).
					</p>
					<p>
						Also talk about how you're personable, easy to work with, understanding and compassionate, ya know.
					</p>
				</div>

				<div class="about-bottom">
					<a href="#" class="btn btn-success"> Explore Classes </a>
				</div>
				
			</div>
		</div>

		<div class="testimonial">
			<div class="testimonial-inner container">
				<div class="testimonial-top">
					<h1> Personal success story: </h1>
					<h3> Jane Doe, lost 83 pounds </h3>
				</div>
				<div class="testimonial-middle">
					
				</div>
			</div>
		</div>

		<div class="rick-footer">
			<div class="rick-footer-inner container">
				<p> All rights reserved.  This site and all associated content are property of <a href="#">Joy Fitness</a> and rickie Kuchenberg </p>
			</div>
		</div>
			
		
	</div>
{% endblock %}

{% block rick_scripts %}
	<script type="text/javascript" src="{% static 'js/info/rickie_home.js' %}" charset="utf-8"></script>
{% endblock %}