{% extends "info/base.html" %}
{% load staticfiles %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'css/info/rickie_base.css' %}" />

	{% block rick_stylesheets %}{% endblock %}
{% endblock %}


{% block content %}
	<div class="top-nav">
		<div role="navigation" class="navbar-default navbar-static-top" id="sliding-nav">
			<div class="container rick-main-nav">
				<div class="box">
					<span class="top slide-trans"></span>
					<span class="right slide-trans"></span>
					<span class="bottom slide-trans"></span>
					<span class="left slide-trans"></span>
					<strong class="logo"><a class="slide-trans" href="/">rickie Kuchenberg</a></strong>
					<a href="/">
						<div class="nav-image-container slide-trans">
							<img src="{% static 'img/rick2.png' %}" width="60" height="60" rel="rickie Kuchenberg" class="slide-trans">
						</div>
					</a>
				</div>

				<div class="navbar-main-collapse navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right main slide-trans">
						<li><a href="/">Home</a></li>
						<li><a href="/about/">About</a></li>
						<li><a href="/classes/">Classes</a></li>
						<li><a href="/one-on-one/">One-on-One</a></li>
						<li><a href="/locations/">Locations</a></li>
						<li><a href="/media/">Media</a></li>
						<li><a href="/signup/" rel="button" class="btn-primary sign-up">Sign up</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
	{% block rick_content %}{% endblock %}
	
{% endblock %}

{% block footer %}
	
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'js/info/rickie_base.js' %}" charset="utf-8"></script>
	{% block rick_scripts %}{% endblock %}
{% endblock %}