{% extends "info/cath/cathie_base.html" %}
{% load staticfiles %}

{% block cath_stylesheets %}
		<link rel="stylesheet" href="{% static 'css/info/cathie_about.css' %}" />

{% endblock %}


{% block cath_content %}

	<div class="main-content" id="about-content">
		<div class="blurry-bg">
			<div class="about">
				<div class="container about-inner">
					<div class="row" id="home-about-row">

						<div class="col-md-4">
							<div class="about-col">
								<div class="about-icon">
									<span class="glyphicon glyphicon-asterisk"></span>
								</div>
								<h3>  Total Fitness Approach  </h3>
								<h5>  From the gym&#44; to the kitchen&#44; to the world at large.  </h5>
								<div class="divider"></div>
								<p>
									Fitness isn't just something you do in the gym.  It's something you live.  As your trainer I can coach you in the areas where it makes the biggest and most important difference:
								</p>
								<ul>
									<li>Nutrition and meal planning</li>
									<li>Lifestyle advice and general fitness </li>
									<li>Motivation and life coaching</li>
								</ul>
							</div>
						</div>

						<div class="col-md-4">
							<div class="about-col">
								<div class="about-icon">
									<span class="glyphicon glyphicon-leaf"></span>
								</div>
								<h3> Sustainably Fit </h3>
								<h5> Real fitness isn&#39;t just some fad diet&#59; it&#39;s a lifestyle. </h5>
								<div class="divider"></div>
								<p>
									Starting a new program is difficult, but staying with it is even harder.  If you want to change your body, you have to make real changes to your everyday routine.
								</p>
								<p><strong>
									As your trainer I'll make sure that you get the coaching you need to make these changes and stay with them.
								</strong></p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="about-col">
								<div class="about-icon">
									<span class="glyphicon glyphicon-pencil"></span>
								</div>
								<h3> Designed With You In Mind </h3>
								<h5> This isn&#39;t Joe Schmoe&#39;s cookie-cutter fitness program. </h5>
								<div class="divider"></div>
								<p>
									I understand your goals aren't the same as everybody else's.  I'll tailor a program to your fitness needs and goals, whether you want to lose weight, or gain strength and stamina.
								</p>
								<p>
									Sound appealing?  <a href="#">Then let's get started!</a>
								</p>
							</div>
						</div>-->

					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}